div{
    width:200px;
    height: 200px;
    background: red;
}
.fundotrocado{
    background: blue;
}
.fundoverde{
    background: greenyellow;
}
h1{
    color:aqua;
    font-size:40px;
}
p{
    background-color:yellow;
    color:crimson;
    font-size:30px;
}