li {
    font-size: 35px;
}
p {
    font-size: 50px;
}
dl{
    font-size: 40px;
}


.error {
    color: green;
    font-size: 30px;
}
.align-left{
    text-align: left;
}
.align-right{
    text-align: right;
}
.align-center{
    text-align: center;
}
.justificado{
    text-align: justify;
}

.lista-quadrada{
    list-style-type:square;
}
.lista-numerica{
    list-style-type:disc;
}